@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Ubuntu", sans-serif;

  height: 1500px;
  width: 100vw;

  overflow-x: hidden;

  background-color: #c6cdf5;

  display: flex;
  justify-content: center;
}

.containers {
  max-width: 100vw;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.containers h1 {
  font-size: 2rem;

  font-weight: bold;

  margin-top: 30px;
}

.containers .container {
  max-width: 80%;
  width: 360px;
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
  transform: translateX(400%);

  border-radius: 8px;
  box-shadow: 2px 4px 5px rgb(188, 189, 189);

  background-color: rgb(38, 72, 185);

  font-size: 2.8rem;

  color: white;

  transition: transform 1s;
}

.container:nth-of-type(even) {
  transform: translateX(-400%);
}

.container.show {
  transform: translateX(0);
}
