@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  width: 100vw;
  height: 100vh;

  color: whitesmoke;

  background-color: rgb(34, 32, 32);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Inconsolata", monospace;
}

.quiz-container {
  max-width: 90%;
  width: 500px;

  overflow: hidden;

  padding: 20px;

  font-size: 0.9rem;

  border-radius: 20px 20px 0 0;

  background-color: rgb(102, 28, 5);
}

.quiz-container h1 {
  font-size: 1.2rem;

  margin: 30px auto;

  text-align: center;
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questions-wrapper .input-container {
  margin: 5px 0 5px 35px;

  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="submit"] {
  max-width: 90%;
  width: 500px;

  font-size: 0.9rem;

  border-radius: 0 0 20px 20px;
  padding: 10px 0;

  border: none;
  background-color: rgb(194, 77, 41);

  color: whitesmoke;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;

  transition: 0.5s;
}

input[type="submit"]:hover {
  background-color: rgb(219, 86, 46);
}

input[type="submit"]:disabled {
  background-color: rgb(139, 94, 80);
}
