@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
}
.card-wrapper {
  max-width: 99%;
  width: 550px;
  padding: 25px;

  border-radius: 20px;

  color: whitesmoke;

  position: relative;

  background-color: rgb(72, 72, 240);
}

.card-wrapper .quotes-left {
  position: absolute;

  font-size: 3rem;

  top: 40px;
  left: 20px;

  opacity: 0.5;
}

.card-wrapper .quotes-right {
  position: absolute;

  font-size: 3rem;

  top: 40px;
  right: 20px;

  opacity: 0.5;
}

.card-wrapper .progress-bar {
  height: 2px;
  width: 0%;

  border-radius: 2px;

  background-color: white;

  margin: 10px auto;

  animation-name: progressAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.card-wrapper .feedback {
  font-size: 0.8rem;

  width: 80%;
  min-height: 120px;

  margin: 0 auto;

  line-height: 25px;

  margin-bottom: 20px;
}

.card-wrapper .perfil-user {
  width: 70%;

  margin: 0 auto;
  display: flex;
  justify-content: center;

  font-size: 0.9rem;
}

.perfil-user img {
  width: 60px;
  height: 60px;

  margin-right: 15px;

  overflow: hidden;

  border-radius: 50%;

  background-color: teal;
}

.perfil-user .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.user-info .user-name {
  font-weight: bold;
}

.user-info .user-office {
  font-size: 0.8rem;
}

@keyframes progressAnimation {
  to {
    width: 80%;
  }
}
