@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(238, 234, 234);

  font-family: "Roboto", sans-serif;
}

.slider-wrapper {
  max-width: 100%;
  width: 350px;
  height: 360px;

  position: relative;

  overflow: hidden;
}

.slider-wrapper .slides {
  width: 2500px;
  height: 360px;

  position: absolute;
  left: 0;
  top: 0;

  transition: 0.6s ease-out;
}

.slider-wrapper .slides img {
  width: 350px;
  height: 100%;

  display: inline-block;
  margin: 0;

  object-fit: cover;
}

.slider-wrapper .buttons {
  height: 25px;
  width: 100%;

  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: space-between;
}

.slider-wrapper button {
  width: 49.8%;
  border: none;

  background-color: rgba(138, 43, 226, 0.8);

  color: white;

  outline: none;

  cursor: pointer;
}
